<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{welcome}">template-managers</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="row mb-3">
        <div class="col-lg-6">
            <h1>Templates</h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-lg-end align-items-center">
            <a href="#" th:href="@{/template/upload}" th:text="#{upload_new_template}" class="btn btn-primary">Upload
                Template</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>STATUS</th>
            <th>LANGUAGE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="template : ${templates}">
            <td th:text="${template.id}"></td>
            <td th:text="${template.name}"></td>
            <td th:text="${template.isActive} ? #{status.active} : #{status.inactive}"></td>
            <td th:text="${template.language}"></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination" th:if="${not templates.empty}">
            <li class="page-item" th:classappend="${templates.hasPrevious() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{/template-manager/templates(page=${templates.number - 1}, size=${templates.size})}" aria-label="Previous" th:if="${templates.hasPrevious()}">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <!-- Generate page links only if there are pages to display -->
            <li th:each="i : ${#numbers.sequence(0, templates.totalPages - 1)}" class="page-item" th:classappend="${i == templates.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/template-manager/templates(page=${i}, size=${templates.size})}" th:text="${i + 1}">Page number</a>
            </li>
            <li class="page-item" th:classappend="${templates.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{/template-manager/templates(page=${templates.number + 1}, size=${templates.size})}" aria-label="Next" th:if="${templates.hasNext()}">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>

</div>


<script>
    function logout(event) {
        event.preventDefault();
        document.getElementById('logoutForm').submit();
    }

</script>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Popper.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>